body {
    background: #0a0f1f;
    color: white;
    font-family: 'Poppins', sans-serif;
    text-align: center;
}

.profile {
    width: 120px;
    border-radius: 50%;
    border: 3px solid cyan;
}

.box {
    background: #111a33;
    width: 90%;
    margin: 20px auto;
    padding: 25px;
    border-radius: 15px;
    box-shadow: 0 0 20px #008cff55;
}

input {
    width: 90%;
    padding: 12px;
    margin: 8px;
    border: none;
    border-radius: 10px;
    outline: none;
}

.btn {
    background: #00a8ff;
    border: none;
    padding: 12px 25px;
    border-radius: 10px;
    margin-top: 15px;
    font-size: 18px;
    cursor: pointer;
}
